@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background-image: radial-gradient(circle, #4f46e5, #22d3ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
